@charset "utf-8";
/* CSS Document */

/*重置*/
*{margin:0; padding:0; font-size:14px;}
a{text-decoration:none;}
li{ list-style: none}
img{border:0;}
.clear{ clear:both}

/*banner*/
.photo{ width:100%; height:420px;  position:relative; background:url(../images/bj-banner.jpg) center no-repeat; padding-top:80px;}
.photo img{ margin-left:auto; margin-right:auto; display:block;}
.photo .text{ margin:auto; width:700px; height:200px;}

.BT, .BT span{font-family:微软雅黑; font-size:40px;text-align:center;  color:#909090; font-weight:normal;}
.FBT{font-family:宋体; font-size:22px; text-align:center; color:#f27200; margin-top:30px;margin-bottom:40px;}
.XWZ{font-family:微软雅黑; font-size:16px;text-align:center;  color:#909090;margin-bottom:10px;}

.mk-1{ background-color:#df9545; width:100%; height:400px;}
.box{ width:1200px; height:400px; margin-left:auto; margin-right:auto; padding-top:100px;}
.mk-1-left{ width:600px; height:400px; float:left; }
.mk-1-BT{font-family:微软雅黑; font-size:30px;text-align:left; color:white;margin-bottom:20px;}
.mk-1-left p{font-family:微软雅黑; font-size:16px;text-align:left; color:white;margin-bottom:25px; line-height:26px; width:520px;}

.mk-1-right{ float:left; margin-left:100px; }
.mk-1-right img{ margin-top:-50px; width:400px;}




.mk-2{ background-color:#5662a6; width:100%; height:400px;}
.box{ width:1100px; height:400px; margin-left:auto; margin-right:auto; padding-top:100px;}
.mk-2-right{ width:600px; height:400px; float:right; }
.mk-2-right img{ margin-top:-50px; width:200px;}
.mk-2-BT{font-family:微软雅黑; font-size:30px;text-align:left; color:white;margin-bottom:30px;}
.mk-2-right p{font-family:微软雅黑; font-size:16px;text-align:left; color:white;margin-bottom:25px; line-height:26px; width:520px;}


.mk-3{ background-color:#eee; width:100%; height:400px;}
.box{ width:1200px; height:400px; margin-left:auto; margin-right:auto; padding-top:100px;}
.mk-3-right{ width:600px; float:right;  }
.mk-3-right img{ margin-top:-300px; width:500px;}
.mk-3-BT{font-family:微软雅黑; font-size:30px;text-align:left; color:#646464;margin-bottom:30px;}
.mk-3-left p{font-family:微软雅黑; font-size:16px;text-align:left; color:#646464;margin-bottom:25px;line-height:26px; width:520px;}




.zx{ width:100%; height:130px; background-color:orange;}
.box_03 { width:500px; height:100px; margin-left:auto; margin-right:auto; position:relative; padding-top:30px;}

.box_03 img{ width:300px; position:absolute; left:0; top:0; margin-left:120px; margin-top:15px;}
.zx_text{ font-family:微软雅黑; font-size:16px; color:fff; position:absolute; left:230px; top:30px; }
.zx_text a{ display:inline-block; width:120px; border-radius:10px; border:1px solid #ccc; text-align:center; color:#ff6600;background:#fff}
.zx_hm{ font-family:微软雅黑; font-size:20px; color:orange; position:absolute; left:210px;top:65px; z-index:999}



