@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0; font-size:14px;}
a{text-decoration:none;}
li{ list-style: none}
img{border:0;}
.clear{ clear:both}
body{ }

	@font-face{
    font-family: "FZY1JW","MINI";
    src: url(../font/FZY1JW.TTF) format('truetype'),
	src:url(../font/MINI.TTF) format('truetype');
	
	font-weight:normal;
	font-style:normal;
}

/*头部*/
.head .right_ones li:nth-child(4) a{color:#fff;  font-family:"方正中倩简体"; font-size:16px;}
.head .right_ones li:nth-child(4) {background:#f08519;}

/*banner*/


/*主体*/
.center{ margin-top:10px; margin-bottom:20px; width:100%; height:8636px; background:url(../images/industry.jpg) center no-repeat;}



/*标题*/
@keyframes main_title
{
    	0%{border:0px; opacity:0; width:0px; border:3px solid #ffcc50;}
    	100%{ border:3px solid #ffcc50;opacity:0.5; width:1280px; margin-left:-640px;}
		
}
@-moz-keyframes main_title
{
    	0%{border:0px; opacity:0; width:0px; border:3px solid #ffcc50;}
    	100%{ border:3px solid #ffcc50;opacity:0.5; width:1280px; margin-left:-640px;}
		
		
}
@-o-keyframes main_title
{
   0%{border:0px; opacity:0; width:0px; border:3px solid #ffcc50;}
    	100%{ border:3px solid #ffcc50;opacity:0.5; width:1280px; margin-left:-640px;}
		
		
}
@-webkit-keyframes main_title
{
      0%{border:0px; opacity:0; width:0px; border:3px solid #ffcc50;}
    	100%{ border:3px solid #ffcc50;opacity:0.5; width:1280px; margin-left:-640px;}
		
		
}
/*W13*/
@keyframes w13
{
    	0%{background-size:0px 0px; opacity:0;transform-origin: center;}
    	100%{ background-size:726px 221px; opacity:1;transform-origin: center;}
		
}
@-moz-keyframes w13
{
    	0%{background-size:0px 0px; opacity:0;}
    	100%{ background-size:726px 221px; opacity:1;transform-origin: center;}
		
		
}
@-o-keyframes w13
{
   0%{background-size:0px 0px; opacity:0;transform-origin: center;}
    	100%{ background-size:726px 221px; opacity:1;transform-origin: center;}
		
		
}
@-webkit-keyframes w13
{
     0%{background-size:0px 0px; opacity:0;-webkit-transform-origin: center;}
    	100%{ background-size:726px 221px; opacity:1;-webkit-transform-origin: center;}
		
		
}








/*宣传语*/
@keyframes cloud
{
    	from{ transform:translateX(-300px); opacity:0;}
    	to{ transform:translateX(0);opacity:1;}
}
@-moz-keyframes cloud
{
    	from{ transform:translateX(-300px); opacity:0;}
    	to{ transform:translateX(0);opacity:1;}
}
@-o-keyframes cloud
{
    	from{ transform:translateX(-300px); opacity:0;}
    	to{ transform:translateX(0);opacity:1;}
}
@-webkit-keyframes cloud
{
        from{ -webkit-transform:translateY(-300px); opacity:0;}
    	to{ -webkit-transform:translateY(0);opacity:1;}
}
/*iocn*/
@keyframes icon_8
{
    	from{ transform:translateX(-60px); opacity:0;}
    	to{ transform:translateX(0);opacity:1;}
}
@-moz-keyframes icon_8
{
    	from{ transform:translateX(-60px); opacity:0;}
    	to{ transform:translateX(0);opacity:1;}
}
@-o-keyframes icon_8
{
    	from{ transform:translateX(-60px); opacity:0;}
    	to{ transform:translateX(0);opacity:1;}
}
@-webkit-keyframes icon_8
{
        from{ -webkit-transform:translateY(-60px); opacity:0;}
    	to{ -webkit-transform:translateY(0);opacity:1;}
}
@keyframes icon_7
{
    	from{ transform:translateX(60px); opacity:0;}
    	to{ transform:translateX(0);opacity:1;}
}
@-moz-keyframes icon_7
{
    	from{ transform:translateX(60px); opacity:0;}
    	to{ transform:translateX(0);opacity:1;}
}
@-o-keyframes icon_7
{
    	from{ transform:translateX(60px); opacity:0;}
    	to{ transform:translateX(0);opacity:1;}
}
@-webkit-keyframes icon_7
{
        from{ -webkit-transform:translateY(60px); opacity:0;}
    	to{ -webkit-transform:translateY(0);opacity:1;}
}

/*缩放*/
@keyframes register
{
    	from{transform:scale(0)}
    	to{transform:scale(1); opacity:1}
}
@-moz-keyframes register
{
    	from{transform:scale(0)}
    	to{transform:scale(1); opacity:1}
}
@-o-keyframes register
{
    	from{transform:scale(0)}
    	to{transform:scale(1); opacity:1}
}
@-webkit-keyframes register
{
        from{-webkit-transform:scale(0)}
        to{-webkit-transform:scale(1); opacity:1}
}

/*W13了解详情*/
@keyframes w13_kown
{
    	from{ transform:translateY(60px); opacity:0;}
    	to{ transform:translateY(0);opacity:1;}
}
@-moz-keyframes w13_kown
{
    	from{ transform:translateY(60px); opacity:0;}
    	to{ transform:translateY(0);opacity:1;}
}
@-o-keyframes w13_kown
{
    	from{ transform:translateY(60px); opacity:0;}
    	to{ transform:translateY(0);opacity:1;}
}
@-webkit-keyframes w13_kown
{
        from{ -webkit-transform:translateY(60px); opacity:0;}
    	to{ -webkit-transform:translateY(0);opacity:1;}
}

/*盒子一*/
@keyframes wave
{
    	from{transform:scaleX(0)}
    	to{transform:scaleX(1); opacity:1}
}
@-moz-keyframes wave
{
    	from{transform:scaleX(0)}
    	to{transform:scaleX(1); opacity:1}
}
@-o-keyframes wave
{
    	from{transform:scaleX(0)}
    	to{transform:scaleX(1); opacity:1}
}
@-webkit-keyframes wave
{
        from{-webkit-transform:scaleX(0)}
        to{-webkit-transform:scaleX(1); opacity:1}
}
/*背景ones*/

@keyframes backones
{
    	from{ background-position:0 600px;}
    	to{background-position:0 312px;opacity:1}
}
@-moz-keyframes backones
{
    	from{background-position:0 600px;}
    	to{background-position:0 312px;opacity:1}
}
@-o-keyframes wbackones
{
    	from{background-position:0 600px;}
    	to{background-position:0 312px;opacity:1}
}
@-webkit-keyframes backones
{
        from{background-position:0 600px;}
        to{background-position:0 312px;opacity:1}
}