@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */
	@font-face{
    font-family: "FZY1JW","MINI";
    src: url(../font/FZY1JW.TTF) format('truetype'),
	src:url(../font/MINI.TTF) format('truetype');
	
	font-weight:normal;
	font-style:normal;
}


/*重置*/
*{margin:0; padding:0; font-size:14px;}
a{text-decoration:none;}
li{ list-style: none}
img{border:0;}
.clear{ clear:both}




body{ background-color:#eaeaeb; }
.bj{ background-color:#fff; border-radius:10px; width:1200px; height:600px; margin-left:auto; margin-right:auto; margin-top:30px;margin-bottom:30px; padding-top:30px;}

.bt-bd{ margin-left:50px;  font-size:24px; font-family:微软雅黑; color:#646464; border-bottom:2px orange solid; height:50px; width:1100px;}
.biaoge{ margin-left:auto; margin-right:auto; width:410px; margin-top:50px;}
.biaoge td{ font-family:微软雅黑; font-size:16px; color:#646464;}
.biaoge input{ width:280px; height:25px; border:1px solid #CCC;}
.biaoge select{ width:138px; height:25px; border:1px solid #CCC;}
.biaoge option{ color:#646464; font-size:12px;}
.biaoge input:hover{ border:1px solid orange;}
.biaoge select:hover{ border:1px solid orange;}
#tijiao{ width:220px; height:32px; background-color:ff6600; color:white;font-family:微软雅黑; font-size:16px; outline:none; border-radius:5px; cursor:pointer;}
